# -------- 服务配置信息 --------
[APP]
APP_ENV=local
APP_NAME=AI学习是真的吗
APP_PORT=8080
APP_HOST=0.0.0.0
APP_VERSION=v1.0.0
APP_DEBUG=True



# -------- 数据库配置 --------
[DB]
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=xhs
DB_ECHO_SQL=False # 使用打印SQL日志信息
DB_POOL_SIZE=5  # 连接池中的初始连接数，默认为 5
DB_MAX_OVERFLOW=10  # 连接池中允许的最大超出连接数



[RABBITMQ]
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER = yun
RABBITMQ_PASSWORD = Yun@0104
RABBITMQ_API_PORT = 15672
RABBITMQ_VIRTUAL_HOST = / # 虚拟主机名称
RABBITMQ_CONNECTION_ATTEMPTS = 10 # 尝试连接的最大次数
RABBITMQ_RETRY_DElAY = 5  # 每次重试之间的延迟时间（秒）
RABBITMQ_SOCKET_TIMEOUT = 12 # 套接字超时时间（秒）
RABBITMQ_HEARTBEAT = 60 # 在连接参数中设置心跳间隔，防止因长时间无活动导致的连接超时。 None，则禁用心跳。
RABBITMQ_PREFETCH_COUNT = 1  # 默认RabbitMQ 最大处理任务数量
RABBITMQ_MAX_CONSUMER = 5 # RabbitMQ 同时启动多少个消费者 用于监控的
RABBITMQ_POOL_MAX_OVERFLOW = 10  # 连接池中允许的最大超出连接数
RABBITMQ_BLOCKED_CONNECTION_TIMEOUT = 10 # 设置阻塞连接超时时间