# ==================== 应用配置 (APP_) ====================
[APP]
# 应用名称，默认为"一云天"
APP_NAME=一云天
# 应用描述，默认为"一云天私域"
APP_DESCRIPTION=一云天私域
# 应用版本号，默认为"1.0"
APP_VERSION=1.0
# 是否启用调试模式，默认True
APP_DEBUG=True
# 应用监听端口，默认8080
APP_PORT=8080
# 应用绑定主机地址，默认"0.0.0.0"
APP_HOST=0.0.0.0
# 是否启用热重载，默认True
APP_RELOAD=True
# 最大并发连接数，默认12
APP_MAX_CONCURRENCY_COUNT=12
# Swagger UI 文档路径，设为None时关闭SwaggerUI
APP_DOCS_URL=/docs
# ReDoc 文档路径
APP_REDOC_URL=/redoc
# OpenAPI 文档路径
APP_OPENAPI_URL=/openapi.json
# 应用路由前缀，默认'/'
APP_PREFIX=/


# ==================== 数据库配置 (DB_) ====================
[DB]
# 数据库服务器地址，默认127.0.0.1
DB_HOST=127.0.0.1
# 数据库服务端口，默认3306（注意：原设置是 8080，建议改为标准 MySQL 端口）
DB_PORT=3306
# 数据库用户名，默认root
DB_USER=root
# 数据库密码，默认root
DB_PASSWORD=root
# 默认连接的数据库名称，默认database
DB_DATABASE=database
# 是否打印SQL日志信息，默认False
DB_ECHO_SQL=False
# 连接池中的初始连接数，默认5
DB_POOL_SIZE=5
# 连接池中允许的最大超出连接数，默认10
DB_MAX_OVERFLOW=10


# ==================== Redis配置 (REDIS_) ====================
[REDIS]
# Redis服务器地址，默认localhost
REDIS_HOST=localhost
# Redis服务端口，默认6379
REDIS_PORT=6379
# 认证密码，默认为空字符串
REDIS_PASSWORD=
# 使用的数据库编号，默认0
REDIS_DB=0
# 是否自动解码响应数据，默认True
REDIS_DECODE_RESPONSES=True
# 命令执行超时时间(秒)，默认5秒
REDIS_TIMEOUT=5
# 连接建立超时时间(秒)，默认5秒
REDIS_CONNECT_TIMEOUT=5
# 最大连接池数量，默认10个
REDIS_MAX_CONNECTIONS=10
# 超时时是否自动重试，默认False
REDIS_RETRY_ON_TIMEOUT=False
# 健康检查间隔时间(秒)，默认30秒
REDIS_HEALTH_CHECK_INTERVAL=30


# ==================== RabbitMQ配置 (RABBITMQ_) ====================
[RABBITMQ]
# RabbitMQ服务器IP地址，默认127.0.0.1
RABBITMQ_HOST=127.0.0.1
# RabbitMQ服务端口，默认5672
RABBITMQ_PORT=5672
# RabbitMQ管理界面端口，默认15672
RABBITMQ_API_PORT=15672
# 用户名，默认admin
RABBITMQ_USER=admin
# 密码，默认admin
RABBITMQ_PASSWORD=admin
# 虚拟主机，默认/
RABBITMQ_VIRTUAL_HOST=/
# 尝试连接的最大次数，默认10次
RABBITMQ_CONNECTION_ATTEMPTS=10
# 每次重试之间的延迟时间（秒），默认5秒
RABBITMQ_RETRY_DELAY=5
# 套接字超时时间（秒），默认12秒
RABBITMQ_SOCKET_TIMEOUT=12
# 心跳间隔（秒），0表示禁用心跳，默认0 在连接参数中设置心跳间隔，防止因长时间无活动导致的连接超时。 None，则禁用心跳。
RABBITMQ_HEARTBEAT=0
# 默认最大处理任务数量
RABBITMQ_PREFETCH_COUNT=1
# 同时启动多少个消费者，默认5
RABBITMQ_MAX_CONSUMER=5
# 设置阻塞连接超时时间（秒），默认10秒
RABBITMQ_BLOCKED_CONNECTION_TIMEOUT=10
# 每次重试之间的延迟时间（秒）
RABBITMQ_RETRY_DElAY = 5
# 连接池中允许的最大超出连接数
RABBITMQ_POOL_MAX_OVERFLOW = 10

# ==================== JWT配置 (JWT_) ====================
[JWT]
# 是否启用JWT鉴权功能，默认False
JWT_ENABLE=False
# 用于签名和验证JWT的密钥，默认"12345789@98765431"
JWT_SECRET_KEY=12345789@98765431
# JWT签名算法类型，默认"HS256"
JWT_ALGORITHM=HS256
# 访问令牌过期时间(小时)，默认1小时
JWT_EXPIRED=1
# 刷新令牌过期时间(小时)，默认24小时
JWT_EXPIRED_REFRESH=24
# 签发者标识符，默认"一一"
JWT_ISS=一一

